@media only screen and (min-width: 720px) and (max-width: 1200px){
/*----------- Work -------------*/
#work{
	width: 100%;
	height: 830px;
	background-color: rgba(125,125,125,0.07);

	padding-top: 20px !important;
	padding-bottom: 50px !important;
}

#work .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.workcontainer{
	width:720px !important;/*1200*/
	
	height: 300px;
	margin:0 auto;


}



/*----------- Work Done-------------*/

/*----------- Sketch -------------*/
#sketch{
	width: 100%;
	height: 940px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.05);
}

#sketch .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.sketchcontainer{
	width: 720px;
	height: 300px;
	margin:0 auto;

}

/*----------- Sketch Done-------------*/

/*----------- About -------------*/
#about{
	width: 100%;
	height: 650px;
	background-color: rgba(125,125,125,0.08);
}

#about .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.aboutcontainer{
	width: 720px;
	height: 300px;
	margin:0 auto;

}

#about img{
	width: 250px;
	float: left;

}

#about .intro{
	width: 400px;
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 3px;
	float: left;
}



/*----------- About Done-------------*/

/*----------- Inpage Work -------------*/

#work.inpage{
	margin-top: 10px;
	height: 600px !important;
}


/*----------- Inpage Work-------------*/



}


@media only screen and (min-width: 480px) and (max-width: 720px){

/*----------- Header -------------*/


.navbar{
	width: 480px;
	height: 30px;
	margin: 0 auto;
	
}



/*----------- Header Done-------------*/
/*----------- Work -------------*/
#work{
	width: 100%;
	height: 1130px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.07);
}

#work .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.workcontainer{
	width:480px !important;/*1200*/
	
	height: 300px;
	margin:0 auto;


}


/*----------- Work Done-------------*/

/*----------- Sketch -------------*/
#sketch{
	width: 100%;
	height: 1180px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.05);
}

#sketch .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.sketchcontainer{
	width: 480px;
	height: 300px;
	margin:0 auto;

}

/*----------- Sketch Done-------------*/
/*----------- About -------------*/
#about{
	width: 100%;
	height: 1050px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.08);
}

#about .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.aboutcontainer{
	width: 480px;
	height: 300px;
	margin:0 auto;

}

#about img{
	width: 480px;
	float: left;

}

#about .intro{
	width: 480px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 40px;
	float: left;
}



/*----------- About Done-------------*/

/*----------- Inpage Work -------------*/

#work.inpage{
	margin-top: 10px;
	height: 930px !important;
}


/*----------- Inpage Work-------------*/

}

@media only screen and (max-width: 480px){

/*----------- Header -------------*/


.navbar{
	opacity: 0;
	
}



/*----------- Header Done-------------*/

/*----------- Work -------------*/
#work{
	width: 100%;
	height: 1730px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.07);
}

#work .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.workcontainer{
	width:240px !important;/*1200*/
	
	height: 300px;
	margin:0 auto;


}

/*----------- Work Done-------------*/

/*----------- Sketch -------------*/
#sketch{
	width: 100%;
	height: 1900px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.05);
}

#sketch .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.sketchcontainer{
	width: 240px;
	height: 300px;
	margin:0 auto;

}

/*----------- Sketch Done-------------*/

/*----------- About -------------*/
#about{
	width: 100%;
	height: 980px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(125,125,125,0.08);
}

#about .container{
	width: 100%;/*1200px*/
	height: 550px;

}

.aboutcontainer{
	width: 240px;
	height: 300px;
	margin:0 auto;

}

#about img{
	width: 240px;
	float: left;

}

#about .intro{
	width: 240px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 40px;
	float: left;
}



/*----------- About Done-------------*/

/*----------- Inpage Work -------------*/

#work.inpage{
	margin-top: 10px;
	height: 1550px !important;
}


/*----------- Inpage Work-------------*/
	
}