body{
	font-family: 'Open Sans';
}
/*h1{
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	color: rgb(59,163,206);
	height: 50px;
	line-height: 50px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;

}

h2{
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	color: rgb(59,163,206);
	height: 50px;
	line-height: 50px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;

}

h3{
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
	color:#7d7d7d ;
}

.container{
	margin: 0 auto;
}

h4{
	
	color: #7d7d7d;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0;
}

h5{
	font-size: 0.8em;
	font-weight: normal;
}

p{
	
	color: #4d4949;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0;
	line-height: 25px;
	margin-bottom: 10px;
}

em{
	font-style: normal;
	font-weight: bold;
}

a{
	text-decoration: none;
}

li,ul{
	list-style: none;
}

*/
div{
	margin: 0;
	padding: 0;
}
#container{
	width: 100%;
	height: 950px;
}
#left{
	width: 50%;
	height: 100%;
	background-color: #82308d;
	float: left;
	position: relative;
}
#right{
	width: 50%;
	height: 100%;
	background-color: white;
	float: left;
	position: relative;
}
#yu{
	width: 15%;
	min-width: 50px;
	max-width: 80px;
	position: absolute;
	right: 0;
	top: 0;
}
#jian{
	width: 15%;
	min-width: 50px;
	max-width: 80px;
	position: absolute;
	left: 0;
	top: 0;
}

.content{
	width: 60%;
	margin: 0 auto;
	margin-top: 200px;
}

.content img{
	width: 33%;
	float: left;
}

#left .content:hover img{
	/* Safari 和 Chrome: */
	-webkit-animation-name: myfirst;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;

	/*-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;*/
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
	0%   {
		-webkit-transform: rotate(0deg);
	}
	20%   {		
		-webkit-transform: rotate(30deg);	
	}
	40%   {	
		-webkit-transform: rotate(-30deg);		
	}
	60%   {		
		-webkit-transform: rotate(30deg);	
	}
	80%   {	
		-webkit-transform: rotate(-30deg);		
	}
	100%   {		
		-webkit-transform: rotate(0deg);
	}
}

#right .content:hover img{
	
	opacity: 0;
	/*-webkit-transform: rotate(180deg);*/
	-webkit-transition: all 0.25s ease-in-out;
}

.photocontent{
	width: 100%;
	margin: 0 auto;
	margin-top: 600px;
	position: relative;
}

.photo{
	width: 20%;
	float: left;
}

.photo:hover{
	opacity: 0.7;
}

#footerleft{
	margin-top: 100px;
	margin-right: 10px;
	color: rgba(255,255,255,0.5);
	float: right;
	font-size: 12px;
	text-align: right;
}

#footerright{
	margin-top: 100px;
	margin-left: 10px;
	color: rgba(130,49,142,0.5);
	float: left;
	font-size: 12px;
}

.home{
	color:rgba(130,49,142,0.5);
	position: fixed;
	right: 10px;
	top: 10px; 
}

.gaolenghome{
	color:rgba(255,255,255,0.5);
	position: fixed;
	right: 10px;
	top: 10px; 
	z-index: 99;
}

#gaolenghome{
	width: 26px;
	height: 28px;
	color:rgba(255,255,255,0.7);
	position: fixed;
	right: 10px;
	top: 10px; 
	z-index: 99;
}

#gaolenghome:hover{
	color:rgba(255,255,255,0.5);
}

.fa-15x{
	font-size: 1.5em;
}