.yinxiang{
	width: 600px;
	height: 300px;
}

.doubihome{
	color:rgba(130,49,142,0.5);
	position: fixed;
	right: 10px;
	top: 10px; 
	z-index: 99;
}

#doubihome{
	color:rgba(130,49,142,0.7);
	position: fixed;
	right: 10px;
	top: 10px; 
	z-index: 99;
}

#doubihome:hover{
	color:rgba(130,49,142,0.5);
}